<ion-header [translucent]="true">
  <ion-toolbar color="dark" mode="ios">
    <ion-title> Tarefas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab class="ion-margin" mode="ios" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="present-alert" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-alert
    mode="ios"
    trigger="present-alert"
    header="Adicionar Tarefa"
    [buttons]="alertButtons"
    [inputs]="alertInputsAdd"
  ></ion-alert>
  <ion-toast
    mode="ios"
    position="middle"
    [isOpen]="isToastOpen"
    message="[ERRO] Informe Tarefa e Data!"
    [duration]="3000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
